{{template "header" .}}

// Ensure *{{ .Block.GoName }}Resource fully satisfy terraform framework interfaces.
var _ resource.Resource = &{{ .Block.GoName }}Resource{}

type {{ .Block.ExecGoName }} interface {
	rsrc.Resource[*{{ .Block.ModelGoName }}]
{{- range $inde, $client := .Block.Clients }}
	Set{{ $client }}({{ $.PbPackageName }}.{{ $client }})
{{- end }}
}

type {{ .Block.GoName }}Resource struct {
	exec {{ .Block.ExecGoName }}
}

func New{{ .Block.GoName }}(exec {{ .Block.ExecGoName }}) func() resource.Resource {
	if exec == nil {
		panic("{{ .Block.ExecGoName }} is required")
	}
	return func() resource.Resource {
		return &{{ .Block.GoName }}Resource{exec: exec}
	}
}

func (r *{{ .Block.GoName }}Resource) Metadata(ctx context.Context, req resource.MetadataRequest, resp *resource.MetadataResponse) {
	resp.TypeName = req.ProviderTypeName + "_{{ .Block.TerraformName }}"
	if _exec, ok := r.exec.(rsrc.CanMetadata); ok {
		_exec.Metadata(ctx, req, resp)
	}
}

func (r *{{ .Block.GoName }}Resource) Schema(ctx context.Context, req resource.SchemaRequest, resp *resource.SchemaResponse) {
	resp.Schema = schema.Schema{
		MarkdownDescription: {{ .Block.Description | quote }},
		Attributes: (&{{ .Block.ModelGoName }}{}).ResourceSchema(),
	}
	if _exec, ok := r.exec.(rsrc.CanSchema); ok {
		_exec.Schema(ctx, req, resp)
	}
}

func (r *{{ .Block.GoName }}Resource) Configure(ctx context.Context, req resource.ConfigureRequest, resp *resource.ConfigureResponse) {
{{- if .Block.HasServiceClient }}
	// Get the gRPC client connection from the ProviderData
	if req.ProviderData != nil {
		conn, ok := req.ProviderData.(grpc.ClientConnInterface)
		if !ok {
			resp.Diagnostics.AddError(
				"Unexpected ProviderData Type",
				fmt.Sprintf("Expected grpc.ClientConnInterface, got: %T. Please report this issue to the provider developers.", req.ProviderData),
			)
			return
		}
		// Create the service clients
		{{- range $index, $client := .Block.Clients }}
		r.exec.Set{{ $client }}({{ $.PbPackageName }}.New{{ $client }}(conn))
		{{- end }}
	}
{{- end }}
	if _exec, ok := r.exec.(rsrc.CanConfigure); ok {
		_exec.Configure(ctx, req, resp)
		return
	}
}

func (r *{{ .Block.GoName }}Resource) ConfigValidators(ctx context.Context) []resource.ConfigValidator {
	if _exec, ok := r.exec.(rsrc.CanConfigValidators); ok {
		return _exec.ConfigValidators(ctx)
	}
	tflog.Warn(ctx, "ConfigValidators method not implemented.Make sure argument to New{{ .Block.GoName }}Resource() implements rsrc.CanConfigValidators interface")
	return nil
}

func (r *{{ .Block.GoName }}Resource) ValidateConfig(ctx context.Context, req resource.ValidateConfigRequest, resp *resource.ValidateConfigResponse) {
	if _exec, ok := r.exec.(rsrc.CanValidateConfig); ok {
		_exec.ValidateConfig(ctx, req, resp)
		return
	}
	tflog.Warn(ctx, "ValidateConfig method not implemented.Make sure argument to New{{ .Block.GoName }}Resource() implements rsrc.CanValidateConfig interface")
}

func (r *{{ .Block.GoName }}Resource) ImportState(ctx context.Context, req resource.ImportStateRequest, resp *resource.ImportStateResponse) {
	if _exec, ok := r.exec.(rsrc.CanImportState); ok {
		_exec.ImportState(ctx, req, resp)
		return
	}
	tflog.Warn(ctx, "ImportState method not implemented.Make sure argument to New{{ .Block.GoName }}Resource() implements rsrc.CanImportState interface")
}

func (r *{{ .Block.GoName }}Resource) ModifyPlan(ctx context.Context, req resource.ModifyPlanRequest, resp *resource.ModifyPlanResponse) {
	if _exec, ok := r.exec.(rsrc.CanModifyPlan); ok {
		_exec.ModifyPlan(ctx, req, resp)
		return
	}
	tflog.Warn(ctx, "ModifyPlan method not implemented.Make sure argument to New{{ .Block.GoName }}Resource() implements rsrc.CanModifyPlan interface")
}

func (r *{{ .Block.GoName }}Resource) UpgradeState(ctx context.Context) map[int64]resource.StateUpgrader {
	if _exec, ok := r.exec.(rsrc.CanUpgradeState); ok {
		return _exec.UpgradeState(ctx)
	}
	tflog.Warn(ctx, "UpgradeState method not implemented.Make sure argument to New{{ .Block.GoName }}Resource() implements rsrc.CanUpgradeState interface")
	return nil
}

func (r *{{ .Block.GoName }}Resource) Read(ctx context.Context, req resource.ReadRequest, resp *resource.ReadResponse) {
	data, diagnostics := gotf.GetModel[{{ .Block.ModelGoName }}](ctx, req.State.Raw, req.State.Get)
	if diagnostics.HasError() {
		resp.Diagnostics.Append(diagnostics...)
		return
	}
	read, diagnostics := r.exec.Read(ctx, req, resp, data)
	if diagnostics.HasError() {
		resp.Diagnostics.Append(diagnostics...)
		return
	}
	// Save data into Terraform state
	resp.Diagnostics.Append(resp.State.Set(ctx, read)...)
}

func (r *{{ .Block.GoName }}Resource) Create(ctx context.Context, req resource.CreateRequest, resp *resource.CreateResponse) {
	data, diagnostics := gotf.GetModel[{{ .Block.ModelGoName }}](ctx, req.Config.Raw, req.Config.Get)
	if diagnostics.HasError() {
		resp.Diagnostics.Append(diagnostics...)
		return
	}
	created, diagnostics := r.exec.Create(ctx, req, resp, data)
	if diagnostics.HasError() {
		resp.Diagnostics.Append(diagnostics...)
		return
	}
	// Save data into Terraform state
	resp.Diagnostics.Append(resp.State.Set(ctx, created)...)
}

func (r *{{ .Block.GoName }}Resource) Update(ctx context.Context, req resource.UpdateRequest, resp *resource.UpdateResponse) {
	data, diagnostics := gotf.GetModel[{{ .Block.ModelGoName }}](ctx, req.Config.Raw, req.Config.Get)
	if diagnostics.HasError() {
		resp.Diagnostics.Append(diagnostics...)
		return
	}
	updated, diagnostics := r.exec.Update(ctx, req, resp, data)
	if diagnostics.HasError() {
		resp.Diagnostics.Append(diagnostics...)
		return
	}
	// Save data into Terraform state
	resp.Diagnostics.Append(resp.State.Set(ctx, updated)...)
}

func (r *{{ .Block.GoName }}Resource) Delete(ctx context.Context, req resource.DeleteRequest, resp *resource.DeleteResponse) {
	data, diagnostics := gotf.GetModel[{{ .Block.ModelGoName }}](ctx, req.State.Raw, req.State.Get)
	if diagnostics.HasError() {
		resp.Diagnostics.Append(diagnostics...)
		return
	}
	resp.Diagnostics.Append(r.exec.Delete(ctx, req, resp, data)...)
}
